/* ======================================================================
   theme variables STARTS
   ====================================================================== */
$bodyBgColor : #f5f5f5;
$bodyFontColor : #4b4b4b;

$primaryColor : #005395;
$secondaryColor : #f5f5f5;

$linkColor : #005395;
$linkHoverColor : #003d79;


