<div id="pageBodyContainer" class="pageBodyContainer">
 
  <!-- header starts -->
  <app-cm-header></app-cm-header>
  <!-- header ends -->
 
  <!-- main Content starts -->
  <router-outlet></router-outlet>
  <!-- main Content ends -->
 
  <!-- footer starts -->
  <app-cm-footer></app-cm-footer>
  <!-- footer ends --> 
  
  <!-- device portrait mask starts -->
  <div class="devicePortraitMask" id="devicePortraitMask">
      <div class="devicePortraitMaskInner textAlignCenter">
          <img src="assets/images/deviceOrientation-img.png" title="emo" alt="emo" />
        </div>
  </div>
  <!-- device portrait mask ends -->

</div>