<section>

    <div class="container-fluid">
        <br/>
        <br/>


        <h5>UI Theme - For internal reference only</h5>
        <br/>
        <br/>
        <!--space for messages-->
        <div class="row">
            <div class="col-md-2 mb-3">
                <div class="w-100" style="height:50px; background-color:#005395; border:1px solid #5e6e65;"></div>
                <p class="themeParaSm">Blue (#005395)</p>
            </div>
            <div class="col-md-2 mb-3">
                <div class="w-100" style="height:50px; background-color:#5e6e65; border:1px solid #5e6e65;"></div>
                <p class="themeParaSm">Grey (#5e6e65)</p>
            </div>
            <div class="col-md-2 mb-3">
                <div class="w-100" style="height:50px; background-color:#4b4b4b; border:1px solid #5e6e65;"></div>
                <p class="themeParaSm">Dark Grey (#4b4b4b)</p>
            </div>
            <div class="col-md-2 mb-3">
                <div class="w-100" style="height:50px; background-color:#f5f5f5; border:1px solid #5e6e65;"></div>
                <p class="themeParaSm">White Shade (#f5f5f5)</p>
            </div>
            <div class="col-md-2 mb-3">
                <div class="w-100" style="height:50px; background-color:#ffffff; border:1px solid #5e6e65;"></div>
                <p class="themeParaSm">White (#ffffff)</p>
            </div>
        </div>
        <!--space for messages-->
        <br/>
        <hr/>
        <br/>
        <!--space for messages-->
        <div class="row">
            <div class="col-md-12 mb-3">
                <div class="themeAlertBox themeAlertIconBox themeAlertSuccessBox" role="alert">
                    <span>Success message goes here</span>
                    <button class="themeAlertBoxClose" type="button">
                        <i class="material-icons">clear</i>
                    </button>
                </div>
            </div>
            <div class="col-md-12 mb-3">
                <div class="themeAlertBox themeAlertIconBox themeAlertInfoBox" role="alert">
                    <span>Info message goes here</span>
                    <button class="themeAlertBoxClose" type="button">
                        <i class="material-icons">clear</i>
                    </button>
                </div>
            </div>
            <div class="col-md-12 mb-3">
                <div class="themeAlertBox themeAlertIconBox themeAlertWarningBox" role="alert">
                    <span>Warning message goes here</span>
                    <button class="themeAlertBoxClose" type="button">
                        <i class="material-icons">clear</i>
                    </button>
                </div>
            </div>
            <div class="col-md-12 mb-3">
                <div class="themeAlertBox themeAlertIconBox themeAlertErrorBox" role="alert">
                    <span>Error message goes here</span>
                    <button class="themeAlertBoxClose" type="button">
                        <i class="material-icons">clear</i>
                    </button>
                </div>
            </div>
        </div>
        <!--space for messages-->
        <br/>
        <hr/>
        <br/>
        <div class="row">
            <div class="col-md-3">
                <!-- themeContentTransparentBox starts -->
                <div class="themeContentTransparentBox">
                    <div class="themeContentTransparentBoxInner clearfix">
                        <h5 class="panel-title">UI Theme - transparent Box</h5>
                    </div>
                </div>
                <!-- themeContentTransparentBox ends -->
            </div>
            <div class="col-md-3">
                <!-- themeContentBorderBox starts -->
                <div class="themeContentBorderBox">
                    <div class="themeContentBorderBoxInner clearfix">
                        <h5 class="panel-title">UI Theme - transparent Border Box</h5>
                    </div>
                </div>
                <!-- themeContentBorderBox ends -->
            </div>
            <div class="col-md-3">
                <!-- themeContentWhiteBox starts -->
                <div class="themeContentWhiteBox">
                    <div class="themeContentWhiteBoxInner clearfix">
                        <h5 class="panel-title">UI Theme - White Border Box</h5>
                    </div>
                </div>
                <!-- themeContentWhiteBox ends -->
            </div>
            <div class="col-md-3">
                <!-- themeContentGreyBox starts -->
                <div class="themeContentGreyBox">
                    <div class="themeContentGreyBoxInner clearfix">
                        <h5 class="panel-title">UI Theme - Grey Border Box</h5>
                    </div>
                </div>
                <!-- themeContentGreyBox ends -->
            </div>
        </div>

        <br/>
        <br/>

        <div class="row d-flex align-items-stretch">
            <div class="col-md-6">
                <h5>UI - Paragraph</h5>
                <!-- themeContentWhiteBox starts -->
                <div class="themeContentWhiteBox">
                    <div class="themeContentWhiteBoxInner clearfix" style="height:220px">
                        <div>Body Running Text</div>
                        <br/>
                        <p class="themeParaLg">This is a paragraph : Large ParaGraph text</p>
                        <p class="themePara">This is a paragraph : Simple ParaGraph text --- (DEFAULT)</p>
                        <p class="themeParaSm">This is a paragraph : Small ParaGraph text</p>
                        <p class="themeParaXs">This is a paragraph : Extra Small ParaGraph text</p>
                    </div>
                </div>
                <!-- themeContentWhiteBox ends -->
            </div>
            <div class="col-md-6">
                <h5>UI - Headers</h5>
                <!-- themeContentWhiteBox starts -->
                <div class="themeContentWhiteBox">
                    <div class="themeContentWhiteBoxInner clearfix" style="height:220px">
                        <h2 class="themeContentTitle pb-3">Sample Content Title </h2>
                        <h2 class="themeContentSecTitle pb-3">Sample Content Section Title</h2>
                        <h2 class="themeContentSubTitle pb-3">Sample Content Sub Title</h2>
                        <h2 class="themeContentTinyTitle pb-3">Sample Content Small Title</h2>
                    </div>
                </div>
                <!-- themeContentWhiteBox ends -->
            </div>
        </div>

        <br/>
        <br/>

        <h5>UI - Angular Customized Form Components</h5>
        <!-- themeContentWhiteBox starts -->
        <div class="themeContentWhiteBox">
            <div class="themeContentWhiteBoxInner clearfix">
                <br/>
                <div class="row">
                    <div class="col-md-3">
                        <p>Mat Text Field - Animated</p>
                        <mat-form-field class="themeMatFormField">
                            <input matInput placeholder="Text Field" value="" />
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <p>Mat Text Field - fixed label</p>
                        <mat-form-field class="themeMatFormField" floatLabel="always">
                            <mat-label>Both a label and a placeholder</mat-label>
                            <input matInput placeholder="Simple placeholder" required>
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <p>Mat Text Field - Full Width</p>
                        <mat-form-field class="themeMatFormField themeMatFormFieldFit">
                            <input matInput placeholder="Text Field" value="" />
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <p>Mat Text Field - 50% Width</p>
                        <mat-form-field class="themeMatFormField themeMatFormFieldMid">
                            <input matInput placeholder="Text Field" value="" />
                        </mat-form-field>
                    </div>
                </div>

                <br/>
                <hr/>
                <br/>

                <div class="row">
                    <div class="col-md-4">
                        <p>Select / Dropdown Sample</p>
                        <mat-form-field class="themeMatFormField">
                            <mat-select placeholder="Select">
                                <mat-option> 
                                    select
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <p>Mat TextArea - Animated</p>
                        <mat-form-field class="themeMatFormField">
                            <mat-label class="labelFormatText">Add a comment or image</mat-label>
                            <textarea matInput placeholder="Enter Here" matTextareaAutosize matAutosizeMinRows="3" matAutosizeMaxRows="10"></textarea>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <p>Mat TextArea - Full Width & Fixed label</p>
                        <mat-form-field class="themeMatFormField themeMatFormFieldFit" floatLabel="always">
                            <mat-label class="labelFormatText">Add a comment or image</mat-label>
                            <textarea matInput placeholder="Enter Here" matTextareaAutosize matAutosizeMinRows="3" matAutosizeMaxRows="10"></textarea>
                        </mat-form-field>
                    </div>
                </div>

                <br/>
                <hr/>
                <br/>

                <div class="row">
                    <div class="col-md-4">
                        <p>CheckBox - Row</p>
                        <div class="themeCheckGroupBox themeCheckGroupBoxRow clearfix">
                            <mat-checkbox class="themeCheckBox">Check me</mat-checkbox>
                            <mat-checkbox class="themeCheckBox" checked="checked">Checked!</mat-checkbox>
                            <mat-checkbox class="themeCheckBox" disabled>Disabled</mat-checkbox>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <p>CheckBox - Column</p>
                        <div class="themeCheckGroupBox themeCheckGroupBoxColumn clearfix">
                            <mat-checkbox class="themeCheckBox">Check me</mat-checkbox>
                            <mat-checkbox class="themeCheckBox" checked="checked">Checked!</mat-checkbox>
                            <mat-checkbox class="themeCheckBox" disabled>Disabled</mat-checkbox>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <p>CheckBox - Check Multiline</p>
                        <div class="themeCheckGroupBox clearfix">
                            <mat-checkbox class="themeCheckBox themeCheckBoxMultiLine">Check me! Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                laboris nisi ut aliquip ex ea commodo consequat. </mat-checkbox>
                        </div>
                    </div>
                </div>

                <br/>
                <hr/>
                <br/>

                <div class="row">
                    <div class="col-md-4">
                        <p>Radio Button - Row</p>
                        <div class="clearfix">
                            <mat-radio-group class="themeRadioBox themeRadioGroupBoxRow">
                                <mat-radio-button class="themeRadioButton" value="1">Option 1</mat-radio-button>
                                <mat-radio-button class="themeRadioButton" value="2">Option 2</mat-radio-button>
                                <mat-radio-button class="themeRadioButton" value="3" disabled>Option 3 Disabled</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <p>Radio Button - Column</p>
                        <div class="clearfix">
                            <mat-radio-group class="themeRadioBox themeRadioGroupBoxcolumn">
                                <mat-radio-button class="themeRadioButton" value="1">Option 1</mat-radio-button>
                                <mat-radio-button class="themeRadioButton" value="2">Option 2</mat-radio-button>
                                <mat-radio-button class="themeRadioButton" value="3" disabled>Option 3 Disabled</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                </div>

                <br/>
                <hr/>
                <br/>

                <div class="d-flex">
                    <div class="clearfix" style="flex:1 100%">
                        <p>Mat Button</p>
                        <button mat-stroked-button class="themeMatButton mat-default">Default</button>
                        &nbsp;&nbsp;&nbsp;
                        <button mat-stroked-button class="themeMatButton mat-primary">Primary</button>
                        &nbsp;&nbsp;&nbsp;
                        <button mat-stroked-button class="themeMatButton themeMatButtonSm mat-default">Default</button>
                        &nbsp;&nbsp;&nbsp;
                        <button mat-stroked-button class="themeMatButton themeMatButtonSm mat-primary">Primary</button>
                    </div>
                    <div class="clearfix" style="flex:1 100%">
                        <p>Mat Button - Disabled</p>
                        <button mat-stroked-button class="themeMatButton mat-default" disabled>disabled Default</button>
                        &nbsp;&nbsp;&nbsp;
                        <button mat-stroked-button class="themeMatButton mat-primary" disabled>disabled Primary</button>
                    </div>
                    <div class="clearfix" style="flex:1 100%">
                        <p>Mat Button with Icon</p>
                        <button mat-stroked-button class="themeMatButton mat-default themeTickBtn" title="title text">Select&nbsp;
                            <i class="material-icons">done</i>
                        </button>
                        &nbsp;&nbsp;&nbsp;
                        <button mat-stroked-button class="themeMatButton mat-default themeTickBtn active" title="title text">
                            <i class="material-icons">add</i>&nbsp;Add More
                        </button>
                    </div>
                </div>

                <br/>
                <hr/>
                <br/>

                <div class="d-flex">
                    <div class="clearfix" style="flex:1 100%">
                        <p>Roboto Font</p>

                        <table class="table">
                            <tr>
                                <th>
                                    <h5>thin</h5>
                                </th>
                                <th>
                                    <h5>Light</h5>
                                </th>
                                <th>
                                    <h5>condensed light</h5>
                                </th>
                                <th>
                                    <h5>Regular</h5>
                                </th>
                                <th>
                                    <h5>condensed regular</h5>
                                </th>
                                <th>
                                    <h5>Bold</h5>
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    <p style="font:12px/22px robotothin, sans-serif;">12px</p>
                                    <p style="font:14px/24px robotothin, sans-serif;">14px</p>
                                    <p style="font:16px/26px robotothin, sans-serif;">16px</p>
                                    <p style="font:18px/28px robotothin, sans-serif;">18px</p>
                                    <p style="font:24px/34px robotothin, sans-serif;">24px</p>
                                </td>
                                <td>
                                    <p style="font:12px/22px robotolight, sans-serif;">12px</p>
                                    <p style="font:14px/24px robotolight, sans-serif;">14px</p>
                                    <p style="font:16px/26px robotolight, sans-serif;">16px</p>
                                    <p style="font:18px/28px robotolight, sans-serif;">18px</p>
                                    <p style="font:24px/34px robotolight, sans-serif;">24px</p>
                                </td>
                                <td>
                                    <p style="font:12px/22px robotocondensedlight, sans-serif;">12px</p>
                                    <p style="font:14px/24px robotocondensedlight, sans-serif;">14px</p>
                                    <p style="font:16px/26px robotocondensedlight, sans-serif;">16px</p>
                                    <p style="font:18px/28px robotocondensedlight, sans-serif;">18px</p>
                                    <p style="font:24px/34px robotocondensedlight, sans-serif;">24px</p>
                                </td>
                                <td>
                                    <p style="font:12px/22px robotoregular, sans-serif;">12px</p>
                                    <p style="font:14px/24px robotoregular, sans-serif;">14px</p>
                                    <p style="font:16px/26px robotoregular, sans-serif;">16px</p>
                                    <p style="font:18px/28px robotoregular, sans-serif;">18px</p>
                                    <p style="font:24px/34px robotoregular, sans-serif;">24px</p>
                                </td>
                                <td>
                                    <p style="font:12px/22px robotocondensedregular, sans-serif;">12px</p>
                                    <p style="font:14px/24px robotocondensedregular, sans-serif;">14px</p>
                                    <p style="font:16px/26px robotocondensedregular, sans-serif;">16px</p>
                                    <p style="font:18px/28px robotocondensedregular, sans-serif;">18px</p>
                                    <p style="font:24px/34px robotocondensedregular, sans-serif;">24px</p>
                                </td>
                                <td>
                                    <p style="font:12px/22px robotobold, sans-serif;">12px</p>
                                    <p style="font:14px/24px robotobold, sans-serif;">14px</p>
                                    <p style="font:16px/26px robotobold, sans-serif;">16px</p>
                                    <p style="font:18px/28px robotobold, sans-serif;">18px</p>
                                    <p style="font:24px/34px robotobold, sans-serif;">24px</p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <br/>
                <hr/>
                <br/>

            </div>
        </div>
        <!-- themeContentWhiteBox ends -->

        <br/>
        <br/>
        <br/>
        <br/>

    </div>
</section>