<!--pageContent starts-->
<main id="pageContent" class="pageContent">
    <!--pageContentBody starts-->
    <div class="pageContentBody">
        <div class="appFormPage">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="appFormBoxcontent">
                            <div class="appFormBoxcontentInner">
                                <!--FORM starts-->
                                <form [formGroup]="loginForm">
                                    <!--space for messages-->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="themeAlertBox themeAlertIconBox themeAlertSuccessBox"  *ngIf="successmsg" role="alert">
                                                <span>Successfully saved</span>
                                                <button class="themeAlertBoxClose" type="button">
                                                    <i class="material-icons">clear</i>
                                                </button>
                                            </div>


                                            <div class="themeAlertBox themeAlertIconBox themeAlertErrorBox"*ngIf="errormsg"  role="alert">
                                                <span>Invalid Credencial</span>
                                                <button class="themeAlertBoxClose" type="button">
                                                    <i class="material-icons">clear</i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <!--space for messages-->



                                    <!--themeContentBorderBox starts-->
                                    <div class="themeContentBorderBox">
                                        <div class="themeContentBorderBoxInner">
                                            <h5 class="formSectionTitle">Member Login</h5>

                                            <div class="row formRow">
                                                <div class="col-md-12">
                                                    <mat-form-field class="themeMatFormField themeMatFormFieldFit">
                                                        <mat-label>Username/Email</mat-label>
                                                        <input matInput placeholder="" value="" formControlName="name" maxlength="55" required />
                                                        <!-- <mat-error *ngIf="loginForm.get('username').hasError('required')">The value is required</mat-error> -->
                                                        <!-- <mat-error *ngIf="loginForm.get('username').hasError('email')">please enter the valid email</mat-error> -->


                                                        </mat-form-field>
                                                </div>

                                                <div class="col-md-12">
                                                    <mat-form-field class="themeMatFormField themeMatFormFieldFit">
                                                        <mat-label>Password</mat-label>
                                                        <input matInput type="password" placeholder="" value="" formControlName="password"  maxlength="55" required />
                                                        <!-- <mat-error *ngIf="loginForm.get('password').hasError('required')">The value is required</mat-error> -->
                                                        </mat-form-field>
                                                </div>


                                            </div>

                                            <div class="themeFormButtonBox clearfix">
                                                <div class="row">
                                                    <div class="col-md-12 text-right">
                                                        <button mat-stroked-button class="themeMatButton mat-default ml-3" title="Cancel">Cancel</button>
                                                        <button mat-stroked-button class="themeMatButton mat-primary ml-3" title="Submit" [disabled]="!loginForm.valid" (click)="checkLogin()">Submit</button>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--themeContentBorderBox ends-->



                                </form>
                                <!--FORM ends-->
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--pageContentBody ends-->

</main>
<!--pageContent ends-->